@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";



body {
  background-color: #2D2F33;
  color: #F8F8F8;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}